/* style image */
.headpic {
    height: 300px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /* zoom setting */
    animation-name: headpic-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* zoom effect */
@keyframes headpic-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

/* center h1 */
h1 {
    text-align: center;
}

/* nav styling */
nav {
    background-color: lightskyblue;
    text-align: center;
}

hr {
    border-top: 5px;
    width: 100%;
    margin: 8px 0;
}

/* section pic style */
.scentered-image {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* anchor styling */
a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

/* hover over effect */
a:hover {
    background-color: #333;
    color: #fff;
}

/* paragraph styling */
.paragragh-1 {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

/* list items style */
.list1 {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: square;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
    font-size: x-large;
}

.list1>ol>li {
    margin-bottom: 30px;
}

.globallist {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

.underline {
    text-decoration: underline;
}

.social-media {
    text-align: center;
    font-size: xx-large;
    margin-top: 100px;
    letter-spacing: 35px;
}

/* footer settings */
footer {
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}

.globallist>ul>li {
    margin-bottom: 30px;
}

.bold-line {
    font-weight: bold;
}

/* contact */
.contactname {
    font-size: x-large;
    text-align: center;
}

/* Media Query for mobile devices */
@media screen and (max-width: 760px) {

    .headpic {
        width: 80%;
        margin: 0 auto;
    }
    h1,
    nav, .globallist {
        width: inherit;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 390px) {

    .headpic {
        width: 30%;
        margin: 0 auto;
    }
    h1,
    nav, .globallist {
        width: inherit;
        text-align: center;
        margin: 0 auto;
    }
    .scentered-image {
        width: 20%;
        height: 20%;
        margin: 0 auto;
    }
}