body {
    display: flex;
    flex-direction: column;

}

/* style image */
.headpic {
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-name: headpic-zoom;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* zoom effect */
@keyframes headpic-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

/* center h1 */
h1 {
    text-align: center;
    font-size: 2.5em;
    color: #444;
    margin: 20px 0;
}

/* nav styling */
nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

hr {
    border-top: 2px solid #ccc;
    width: 100%;
    margin: 20px 0;
}

/* section pic style */
.scentered-image {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* anchor styling */
a {
    text-decoration: none;
    color: #0066cc;
    padding: 5px;
}

/* hover over effect */
a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

/* paragraph styling */
.paragragh-1 {
    font-size: 1.2em;
    font-family: "Arial", sans-serif;
    color: #333;
    margin: 20px;
    line-height: 1.6;
}

/* list items style */
.list1 {
    font-size: 1.2em;
    font-family: "Arial", sans-serif;
    color: #333;
    margin: 20px;
    line-height: 1.6;
}

.list1 ol {
    padding-left: 20px;
}

.list1 ol li {
    margin-bottom: 20px;
}

.underline {
    text-decoration: underline;
}

.social-media {
    text-align: center;
    font-size: 2em;
    margin-top: 50px;
    letter-spacing: 10px;
}

/* footer settings */
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.bold-line {
    font-weight: bold;
}

/* contact */
.contactname {
    font-size: 1.2em;
    text-align: center;
}

/* Media Query for mobile devices */
@media screen and (max-width: 760px) {
    .headpic {
        width: 100%;
        margin: 0 auto;
    }
    h1,
    nav,
    .globallist {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 390px) {
    .headpic {
        width: 100%;
        margin: 0 auto;
    }
    h1,
    nav,
    .globallist {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .centered-image {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

/* sidebar */
img {
    width: 100%;
    height: auto;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content-container {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    position: relative;
}

.main-content {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
}

.sidebar {
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*position: relative;*/
    overflow-y: auto;
}

.sidebar h2 {
    text-align: center;
}

/* display canged to grid. no need for media query */

/* Media query for small screens */
/*@media (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .main-content {
        width: 100%;
        height: auto;
        text-align: center;
        overflow-y: auto;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        order: 2;
    }

    .main-content {
        order: 1;
    }

    .sidebar {
        order: 2;
    }
}
*/